* {margin:0;padding:0;}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
/* Estilo para la barra de navegación (topbar) */
#topbar {
background-color: #333; /* Color de fondo de la barra */
color: rgb(231, 224, 186); /* Color del texto en la barra */
padding: 10px 0; /* Espaciado interior vertical */
/*text-align: center; /* Alineación del contenido */
}
/* Estilo para los elementos de la barra de navegación */
#topbar a {
color: rgb(141, 194, 243); /* Color del texto de los enlaces */
text-decoration: none; /* Elimina el subrayado predeterminado de los
enlaces */
margin: 0 15px; /* Espaciado horizontal entre elementos */
font-size: 20px;
}
/* Cambiar el color de los enlaces cuando se les pasa el mouse */
#topbar a:hover {
color: #5060bb; /* Cambia el color del texto cuando se pasa el mouse */
}
/* Estilo para la división de héroe */
.hero {
background-image: url('imagen-hero.jpg');
background-size: cover;
color: rgb(205, 206, 160);
text-align: center;
padding: 100px 0;

}

/* Estilo para la sección de artículos */
.articulos {
display: flex;
justify-content: space-between;
padding: 20px;
background-color: #ee7373;
}
/* Estilo para cada artículo */
.articulo {
flex: 1;
background-color: rgb(245, 242, 214);
border: 15px solid #7b9fe4;
padding: 20px;
margin: 10px;
text-align: center;
}
/* Estilo para las imágenes en los artículos */
.imagen-articulo {
max-width: 100%;
height: auto;
}
/* Estilo para el espacio de texto justificado */
.texto-articulo {
text-align: justify;
}
/* Estilo para el espacio de texto justificado */
.texto-footer {
text-align: justify;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex ;
}
.texto-col {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
column-count: 3;
text-indent: 50px;
letter-spacing: 4px;
line-height: 2;
margin:40px;
text-align: left;
column-gap: 60px;
}
p{
    padding-top:15px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}
h1{
    color:rgb(42, 95, 165);
    font-family: 'Permanent Marker', cursive;
}